<div class="jumbotron">
  <h1 class="display-4">Mi Cacharrito</h1>
  <p class="lead">En "Mi Cacharrito", entendemos que los viajes no son solo sobre destinos; son experiencias que enriquecen nuestras vidas, crean recuerdos imborrables y nos conectan con el mundo de formas inimaginables. Desde nuestro modesto comienzo, nos hemos comprometido a brindar a nuestros clientes la oportunidad de explorar el mundo de una manera única y significativa.</p>
  <hr class="my-4">
  <img src="https://assets.bridgestonetire.com/content/dam/consumer/bst/la/co/tips/2022/tecnologia-de-llantas/deportivo.jpg" alt="foto de demostracion">
</div>
