<div class="modal" tabindex="-1" id="consultor-reservas-por-dia">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Estas son las reservas del día</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cerrarConsultor()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" (click)="consultarReservaHoy()">Consultar reservas de hoy</button>
        <div class="table-responsive">
          <table class="table" *ngIf="reservasDelDia && reservasDelDia.length > 0">
            <thead>
              <tr>
                <th scope="col"># Reserva</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha Reserva</th>
                <th scope="col">Número de asiento</th>
                <th scope="col">Cédula</th>
                <th scope="col"># Viaje</th>
              </tr>
            </thead>
            <tbody>
              <!-- Itera sobre las reservas y muestra los datos en la tabla -->
              <tr *ngFor="let reserva of reservasDelDia">
                <th scope="row">{{ reserva.idReserva }}</th>
                <td>{{ reserva.estado }}</td>
                <td>{{ reserva.fechaReserva }}</td>
                <td>{{ reserva.numeroPuesto }}</td>
                <td>{{ reserva.cedula.cedula }}</td>
                <td>{{ reserva.id_lista_disponibilidad.idListaDisponibilidad }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
